@media (min-width: 800px) {
  .box {
    background-color: white;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5vh;
    text-align: center;
  }
  p {
    padding-left: 10vh;
    padding-right: 10vh;
  }
}
.box {
  background-color: white;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 2vh;
  padding-bottom: 5vh;
  text-align: center;
}

button {
  background-color: #2e451a;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
}

p {
  line-height: 1.6;
  margin: 0 50px 30px 50px;
  padding-bottom: 5px;
}
hr {
  color: #910923;
}

h2 {
  text-align: center;
  padding: 40px 20px 20px 20px;
  color: #910923;
}
