* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  src: ;
  font-family: ;
}
/**
#TEXT - H1, H2, H3, P etc etc
**/
h1 {
}
h2 {
}
h3 {
}
p {
}

/**
#TOP/BOTTOM - HEADER, FOOTER
**/

header {
}
#header_container {
}

footer {
}

/**
#NAVIGATION - MENU
**/

nav {
}
#menu {
}
#menu ul {
}
