* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.content img {
  width: auto;
  border: double #2e451a;
  border-width: 6px;
}
@font-face {
  src: url(..//media/fonts/Italianno-Regular.ttf);
  font-family: "ital";
}
@font-face {
  src: url(..//media/fonts/BERNHC.TTF);
  font-family: "bern";
}
html {
  --primary: #910923;
  --secondary: white;
  --tertiary: ;
  --text-space: 1rem;

  --h1_font: "ital";
  --h2_font: "bern";
  --h3_font: "bern";
  --font: monospace, Courier, monospace;
}
a:visited,
a:link,
a:hover,
a:active {
  text-decoration: none;
  list-style: none;
  color: var(--primary);
}
body {
  background-image: url(..//media/images/baggrund.webp);
  background-repeat: repeat;
  width: 100%;
  margin: auto;
}
/**
#TEXT - H1, H2, H3, P etc etc
**/
h1 {
  font-family: var(--h1_font);
  font-size: 3rem;
  color: #910923;
}
h2 {
  font-family: var(--h2_font), var(--font);
  font-size: 3.5rem;
}
h3 {
  font-family: var(--h3_font), var(--font);
  font-size: 2rem;
}
p {
  font-family: var(--font);
  font-size: 1rem;
  line-height: 1.8;
  padding-bottom: 30px;
}
a,
li {
  font-family: var(--font);
  font-size: 1.5rem;
}

/** #TOP - HEADER
**/
header {
  display: flex;
  color: var(--primary);
}
.banner {
  align-items: center;
  padding: 10px;
  gap: 15px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 1vw 8vw;
}
.logo {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
}
.logo h1 {
  font-size: calc(100vw / 14);
}
.logo img {
  width: 130px;
}

/* #BOTTOM - FOOTER     */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary);
  color: var(--secondary);
  gap: 10px;
  flex-grow: 1;
  padding: 15px 0 5px 0;
  margin: auto;
  font-size: calc(70vw / 55);
}
footer a:link {
  color: var(--secondary);
  font-size: inherit;
}
footer li {
  display: flex;
  padding: 10px;
  align-content: space-between;
  justify-content: space-between;
  font-size: inherit;
}
/**
#NAVIGATION - MENU
**/
#menu_toggle {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
}
.menu {
  display: flex;
  flex-direction: row;
  height: 0;
  align-items: center;
  list-style: none;
  cursor: pointer;
  gap: 15px;
}
.menu ul {
  display: contents;
}
.menu a {
  font-size: 1.3rem;
}
.menu li {
  padding: 15px;
}

/* FOOTER NAV */
footer ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}
/**
CONTENT - main content box
**/
.content {
  display: flex;
  flex-direction: column;
  margin: 3vw 10vw;
  padding: 0.5rem;
  background-color: var(--secondary);
  border: var(--primary) solid 2px;
  border-radius: 3px;
}
/**
BOXTING
**/
.box {
  background-color: white;

  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 5vh;
  width: 100%;
}
.box2 {
  background-color: white;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

#left {
  grid-area: 1 span row;
  margin-left: 6vh;
}
/* MEDIA QUERIES TIL STØRRELSER */
@media (max-width: 800px) {
  footer ul {
    flex-wrap: wrap;
    flex-direction: column;
    font-size: calc(80vw / 45);
  }
}
@media (max-width: 600px) {
  /**
    BURGERMENU 
**/
  header ul {
    display: none;
  }
  .menu {
    display: block;
    align-self: self-end;
    cursor: pointer;
    padding: 0 15px 5px 0;
  }
}
@media (max-width: 610px) {
  .banner {
    align-items: center;
    padding: 10px;
    gap: 15px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
  }
  .logo {
    grid-template-columns: 2fr 1fr;
  }
  /* Menu gemt i desktop størrelse */
  .menu {
    display: none;
  }
  .box {
    background-color: white;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5vh;
  }

  .box2 {
    background-color: white;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 10vh;
  }

  #left {
    grid-area: 1 span row;
    margin-left: 6vh;
    margin-right: 6vh;
  }
  button {
    background-color: #2e451a;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
  }

  /* JS interaktion */
  .menu.shown {
    display: flex;
    flex-direction: column;
  }
  .menu.shown li {
    z-index: 1;
    border: var(--secondary) 2px solid;
    background-color: var(--primary);
    color: var(--secondary);
    width: 150px;
  }
  .menu.shown a {
    color: var(--secondary);
  }
  /* JS interaktion end */
  #menu_toggle {
    display: block;
    /* margin-right: 80px; */
    /* position: relative; */
  }
  #main-menu {
    display: flex;
    flex-direction: column;
  }
  #main-menu span {
    font-family: var(--h2_font);
    color: var(--primary);
    font-size: 3rem;
    font-weight: 400;
  }
  header.banner h1 {
    display: none;
  }
  footer {
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  #main-menu span {
    font-size: 2.5rem;
  }
  .menu.shown {
    top: 12%;
    right: 6%;
  }
}

video {
  width: 100%;
  position: relative;
}

.video {
  width: 100%;
}
.overlay-button {
  position: absolute;
  left: 50%;
  bottom: 90px;
  transform: translateX(-50%);
  background-color: #2e451a;
  color: white;
  border: none;
  padding: 13px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
  font-weight: 500;
  border: solid 1px white;
}
