* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../media/images/baggrund.webp);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
@font-face {
  src: url(..//media/fonts/BERNHC.TTF);
  font-family: "bernard";
}
@font-face {
  src: url(..//media/fonts/Italianno-Regular.ttf);
  font-family: "italianno";
}
/**
#TEXT - H1, H2, H3, P etc etc
**/
h1 {
}
h2 {
  font-family: "bernard", "Courier New", Courier, monospace;
}
h3 {
  font-family: "bernard", "Courier New", Courier, monospace;
}
p {
}
a {
}

/**
#TOP/BOTTOM - HEADER, FOOTER
**/

header {
}
#header_container {
}

/**
#NAVIGATION - MENU
**/

/* header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  background: #910923;
  padding: 2rem;

  /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px 40px;
}

.main-menu ul {
  list-style: none;
  padding: 0;

  /* 2. Få elementerne til at stå ved siden af hinanden */
  display: flex;
  gap: 1rem;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
  }

  .main-menu.shown {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }

  .main-menu.shown ul {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
  }
}
