* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a:visited,
a:link,
a:hover,
a:active {
  color: white;
  text-decoration: none;
  list-style: none;
}
body {
  background-image: url(..//media/images/baggrund.webp);
  background-repeat: repeat;
  width: 100%;
  height: auto;
  margin: auto;
}
@font-face {
  src: url(..//media/fonts/BERNHC.TTF);
  font-family: "bernard";
}
@font-face {
  src: url(..//media/fonts/Italianno-Regular.ttf);
  font-family: "italianno";
}
/**
#TEXT - H1, H2, H3, P etc etc
**/
h1 {
  font-family: "italianno", "Courier New", Courier, monospace;
}
h2 {
  font-family: "bernard", "Courier New", Courier, monospace;
}
h3 {
  font-family: "bernard", "Courier New", Courier, monospace;
}
p {
  font-family: monospace, "Courier New", Courier, monospace;
}
a {
  font-family: "bernard", "Courier New", Courier, monospace;
}
li {
  font-family: "bernard", "Courier New", Courier, monospace;
}

/**
#TOP/BOTTOM - HEADER, FOOTER
**/
header nav,
footer nav {
  display: flex;
  justify-content: center;
  background-color: #910923;
  flex-direction: column;
  color: white;
}
nav img {
  width: fit-content;
  align-self: center;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}
nav li {
  display: flex;
  justify-items: center;
  margin: 15px;
}
footer {
  font-size: small;
}
.menu {
  display: none;
}
.burger {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 6px;
  transition: background-color 0.3s ease;
}
/**
#NAVIGATION - MENU
**/
@media (max-width: 600px) {
  header ul {
    display: none;
  }
  .menu {
    display: block;
    align-self: self-end;
    cursor: pointer;
    padding: 0 15px 5px 0;
  }
}
/* header */
